@charset "utf-8";
/* CSS Document */

.mod-left{
	position:relative;
	margin:50px auto 0  auto;
	width:1120px;
}
.mod-left .hd{
	width:350px;
	height:30px;
	position:relative;
	margin:70px 0 0 380px;
	}
.sildPicBar{
	overflow:hidden;
	height:30px;
	}
.sildPicBar span{
	display:block;
	width:30px;
	height:30px;
	cursor:pointer;
	text-align:center;
	line-height:30px;
	font-size:14px;
	color:#fff;
	font-family:"宋体";
	background:url('../images/side_bg.png') no-repeat;
	}
.sildPicBar span.pre{
	position:absolute;
	left:0;
	top:0;
	}
.sildPicBar span.next{
	position:absolute;
	right:0;
	top:0;
	}

.sildPic-Article-QQ .bd {
	width:1120px;
}
.sildPic-Article-QQ .cnt-wrap {
	overflow:hidden;
	width:1120px;
	height:410px;
}
.sildPic-Article-QQ .cnt {
	WIDTH: 3360px;
}
.sildPic-Article-QQ ul{
	}
.sildPic-Article-QQ ul LI {
	float:left;
	width:280px;
	height:410px;
	position:relative;
}
.sildPic-Article-QQ ul LI .text{
	height:160px;
	width:260px;
	background:#fff;
	}

.sildPic-Article-QQ ul LI .text:hover{
	background:#0e902e;
	color:#fff;
	}
.sildPic-Article-QQ ul LI .text:hover p a,.sildPic-Article-QQ ul LI .text:hover a.view{
	color:#fff;
	}
.text a.view{
	background:url('../images/more_bg.png') 20px 20px no-repeat;
	height:23px;
	display:block;
	position:absolute;
	bottom:20px;
	padding:20px 0 0 46px;
	}
.text a.view:hover{
	background:url('../images/more_hov.png') 20px 20px no-repeat;
	}
.sildPic-Article-QQ ul LI .text p{
	line-height:26px;
	padding:0 10px 0 20px;
	font-family:"微软雅黑";
	}
.sildPicBar ul{
	width:290px;
	margin:12px 0 0 40px;
	}
.sildPicBar ul li{
	width:68px;
	height:6px;
	float:left;
	border:1px solid #dcdcdc;
	background:#666;
	margin:0 10px;
	cursor:pointer;
	}
.sildPicBar ul li.select{
	background:#fff;
	}

