@charset "utf-8";
/* CSS Document */

.infopic{ width:1200px; height:266px; position:relative; overflow:hidden; margin:15px auto; padding:0 0 60px 0;}
.piclist{ height:196px; position:absolute; top:0; left:0; margin-left:-45px;overflow:hidden;}
.piclist li{ height:196px; margin-left:45px; float:left; overflow:hidden; width:370px;}
.piclist li img{ height:196px; width:370px;}
.index_ppp{ position:relative;}
.index_ppp a:hover:after{ content: url('../images/aboutImg_hov.png') no-repeat; width:370px; height:266px; left:0; position:absolute;opacity:0.7;filter:alpha(opacity=70); }
.pic_pag{ position:absolute; display:block;}
.pic_prev,.pic_next{ width:110px; height:30px; background:#ddd; position:absolute; top:236px; cursor:pointer; text-align:center; font-family:"宋体"; line-height:30px;}
.pic_prev{ right:130px;}
.pic_next{ right:0;}
.pic_prev:hover,.pic_next:hover{ color:#fff; background:#0e902e;}