{% load staticfiles %}
<div class="st_fot">
    <div class="wrap fotIno">
        <div class="fot_ico">
            <ul>
                <li><a href="http://t.qq.com/" target="_blank">
                    <img src="{% static 'images/fot_ico_f1.png' %}" width="34" height="34" alt="" /></a></li>
                <li><a href="http://im.qq.com/index.shtml" target="_blank">
                    <img src="{% static 'images/fot_ico_f2.png' %}" width="34" height="34" alt="" /></a></li>
                <li><a href="http://d.weibo.com/" target="_blank">
                    <img src="{% static 'images/fot_ico_f3.png' %}" width="34" height="34" alt="" /></a></li>
            </ul>
        </div>
        <ul class="fot_nav">
            <li><a href="/fumeng/about/fumenggaishu/" target="_blank">福梦首页</a></li>
            <li><a href="/fumeng/news/fumengxinwen/" target="_blank">新闻中心</a></li>
            <li><a href="/fumeng/business/shengtaizhongzhi/" target="_blank">福梦业务</a></li>
            <li><a href="/fumeng/culture/guanlizhidao" target="_blank">企业文化</a></li>
            <li><a href="/fumeng/contact/fumengzongbu">联系我们</a></li>
            <li><a href="http://http://map.baidu.com/?newmap=1&ie=utf-8&s=s%26wd%3D%E9%95%BF%E6%B2%99%E5%B8%82%E5%A4%A9%E5%BF%83%E5%8C%BA%E8%8A%99%E8%93%89%E4%B8%AD%E8%B7%AF%E4%BA%8C%E6%AE%B5168-1%E5%8F%B7%E6%91%A9%E5%A4%A9%E5%A4%A7%E5%8E%A61335%E6%88%BF">
                公司地图</a></li>
        </ul>
        <ul class="fot_link">
            <h2>
                友情连接</h2>

            <li><a href="http://www.icanjoy.com" target="_blank">
                福梦卓悦景区管理</a></li>

            <li><a href="http://szhqsd.com" target="_blank">
                福梦文华传播</a></li>

            <li><a href="http://szhqsd.com" target="_blank">
                福梦文商商业策划</a></li>

            <li><a href="http://szhqsd.com" target="_blank">
                福梦天下旅游建设</a></li>

            <li><a href="http://szhqsd.com" target="_blank">
                旅游规划</a></li>

            <li><a href="http://szhqsd.com" target="_blank">
                旅游策划</a></li>

            <li><a href="http://szhqsd.com" target="_blank">
                深圳福梦咨询机构</a></li>

        </ul>
        <div class="fot_corInfo">
            <span>
                主营产品 发展<br>
                成立日期 2014年10月8日<br>
                公司注册地址 长沙市 天心区 芙蓉中路二段168-1号摩天大厦1335房<br>
                业务经理 刘德华<br>
                邮政编码 410000<br>
                电话 15873897819<br>
                注册资金 5000W<br>
                信用等级 五星<br>
            </span>
        </div>
    </div>
    <div class="fot_copy">
        <p>
            Copyright by 2006-2013 湖南福梦农业科技发展有限公司</p>
    </div>
</div>