<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% load staticfiles %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{% static 'js/Drop_down.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-1.7.2.min.js' %}"></script>
    <title>新闻中心</title>
</head>
<body>

{% include "fumeng/title.html"%}

<script type="text/javascript">
    function click_a(divDisplay) {
        if (document.getElementById(divDisplay).style.display != "block") {
            document.getElementById(divDisplay).style.display = "block";
        }
        else {
            document.getElementById(divDisplay).style.display = "none";
        }
    }
    var $_GET = (function(){
        var url = window.document.location.href.toString();
        var u = url.split("?");
        if(typeof(u[1]) == "string"){
            u = u[1].split("&");
            var get = {};
            for(var i in u){
                var j = u[i].split("=");
                get[j[0]] = j[1];
            }
            return get;
        } else {
            return {};
        }
    })();
    function page_index(){
        page = 1;
        get_news_page();
    }
    function page_next(){
        page += 1;
        get_news_page();
    }
    function page_pre(){
        page -= 1
        get_news_page();
    }
    function get_news_page(){
        if (typeof($_GET['page']) == "undefined") {
            var page = 1;
        }else{
            var page = $_GET['page'];
        }
        var cur_url = document.URL;
        window.location.href=cur_url+"?page="+page;
    }

</script>

<div class="top_cle">
    <div class="wrap top_ico">
       <p style="padding-top: 40px;font-size: xx-large;font-family: fantasy;font-weight: bold;color: #ccc;-webkit-box-reflect: below 6px -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(.5, transparent), to(black));">Fumeng News Center</p>
        <ul>

            <li><a class="{{ shengtaizhongzhi }}"
                   href="/fumeng/business/shengtaizhongzhi/">
                生态种植</a></li>

            <li><a class="{{ shengtaiyangzhi }}"
                   href="/fumeng/business/shengtaiyangzhi/">
                生态养殖</a></li>

            <li><a class="{{ kuangchanziyuan }}"
                   href="/fumeng/business/kuangchanziyuan/">
                矿产资源</a></li>

        </ul>

    </div>
</div>
<div class="st_box">
<div class="wrap caseList">
<ul>
{% for item in news%}
<li><span><a href="/fumeng/business/list/{{ item.title }}">
<img src="/fumeng/{{ item.image }}" width="260" height="250" alt=""></a> </span><span class="caseT"><a href="/fumeng/business/list/{{ item.title }}">
{{ item.title }}</a> </span></li>
{% endfor %}
</ul>
<div class="page team_page">
<span><a class="hover" href="#" onclick="page_index()">首页</a></span>
<span class="pre"><a href="#" onclick="page_pre()"><</a></span>
<span class="next"><a href="#" onclick="page_next()">></a></span>
</div>
</div>
</div>
<!--item end-->

{% include "fumeng/footer.html" %}

<script type="text/javascript">
    $(function () {
        $("#nav li:last").css("padding", "0")
    })
</script>
<div class="go-top dn" id="go-top">
    <div class="uc-2vm uc-2vm1">
        <a href="" target="_blank">
            <img src="/skin/images/shouce.png" title="下载手册" width="16" height="16" alt=""></a>
    </div>
    <div href="javascript:void(0);" class="uc-2vm uc-2vm2">
        <img src="/skin/images/tel_btn.png" width="16" height="16" alt="" />
        <div class="uc-2vm-pop2 dn">
            <div class="logo-2wm-box">
                <img src="/skin/images/tel_img.png" width="192" height="60" />
            </div>
        </div>
    </div>
    <div href="javascript:void(0);" class="uc-2vm uc-2vm3">
        <img src="/skin/images/weixin_btn.png" width="14" height="14" alt="" /></div>
    <div class="uc-2vm-pop3 dn">
        <div class="logo-2wm-box">
            <img src="/skin/images/weixin_img.jpg" width="190" height="190" alt="" />
        </div>
    </div>
    <div href="javascript:void(0);" class="go">
        <img src="/skin/images/goTop.png" width="22" height="12" alt="" /></div>
</div>
<script>
    $(function () {
        $(window).on('scroll', function () {
            var st = $(document).scrollTop();
            if (st > 0) {
                if ($('#main-container').length != 0) {
                    var w = $(window).width(), mw = $('#main-container').width();
                    if ((w - mw) / 2 > 70)
                        $('#go-top').css({ 'left': (w - mw) / 2 + mw + 20 });
                    else {
                        $('#go-top').css({ 'left': 'auto' });
                    }
                }
                $('#go-top').fadeIn(function () {
                    $(this).removeClass('dn');
                });
            } else {
                $('#go-top').fadeOut(function () {
                    $(this).addClass('dn');
                });
            }
        });
        $('#go-top .go').on('click', function () {
            $('html,body').animate({ 'scrollTop': 0 }, 500);
        });


        $('#go-top .uc-2vm2').hover(function () {
            $('#go-top .uc-2vm-pop2').removeClass('dn');
        }, function () {
            $('#go-top .uc-2vm-pop2').addClass('dn');
        });
        $('#go-top .uc-2vm3').hover(function () {
            $('#go-top .uc-2vm-pop3').removeClass('dn');
        }, function () {
            $('#go-top .uc-2vm-pop3').addClass('dn');
        });
    });
</script>
<!-- 代码 结束 -->

</body>
</html>
