<!doctype html>
<html>
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>福梦农科</title>
    <link href="{% static 'css/freeue.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
    <!--=============================导航栏================================-->
    <header id="js-header" class="mala-header">
        <div class="mala-clearfix mala-container">
            <!--=====================导航栏中间的4个按钮=============-->
            <nav class="mala-fr">
                <ul class="mala-nav-list mala-clearfix">
                    <li class="mala-nav-item mala-fl"> <a href="#" class="mala-nav-link">首页</a>
                    </li>
                    <li class="mala-nav-item mala-fl js-header-dropmenu">
                        <span class="mala-nav-link"><a href="/fumeng/about/" style="color: white">关于福梦</a><i class="mala-arrow mala-arrow-down  mala-ml"></i>
                        </span>
                        <ul class="mala-header-dropdown-list js-header-list">
                            <li class="mala-header-dropdown-item"> <a href="/fumeng/about/overview/" class="mala-link">福梦概述</a>  <i class="mala-arrow mala-arrow-up" style="right:20px;"></i>
                            </li>
                            <!--这里没有设置弹窗效果，如果需要，请参考mala-0205.html页面-->
                            <li class="mala-header-dropdown-item"> <a href="/fumeng/about/strategy/" class="mala-link">福梦战略</a>
                            </li>
                            <li class="mala-header-dropdown-item"> <a href="/fumeng/about/advantage/" class="mala-link">核心优势</a>
                            </li>
                            <li class="mala-header-dropdown-item"> <a href="/fumeng/about/progress/" class="mala-link">发展历程</a>
                            </li>
                        </ul>
                    </li>
                    <li class="mala-nav-item mala-fl js-header-dropmenu">
                        <span class="mala-nav-link">新闻中心<i class="mala-arrow mala-arrow-down  mala-ml"></i>
                        </span>
                        <ul class="mala-header-dropdown-list js-header-list">
                            <li class="mala-header-dropdown-item"> <a href="mala-0202.html" class="mala-link">福梦新闻</a>  <i class="mala-arrow mala-arrow-up" style="right:20px;"></i>
                            </li>
                            <!--这里没有设置弹窗效果，如果需要，请参考mala-0205.html页面-->
                            <li class="mala-header-dropdown-item"> <a href="mala-0205.html" class="mala-link">地区动态</a>
                            </li>
                            <li class="mala-header-dropdown-item"> <a href="mala-0202.html" class="mala-link">下属公司</a>
                            </li>
                            <li class="mala-header-dropdown-item"> <a href="mala-0202.html" class="mala-link">媒体关注</a>
                            </li>
                        </ul>
                    </li>
                    <li class="mala-nav-item mala-fl js-header-dropmenu">
                        <span class="mala-nav-link">福梦业务<i class="mala-arrow mala-arrow-down  mala-ml"></i>
                        </span>
                        <ul class="mala-header-dropdown-list js-header-list">
                            <li class="mala-header-dropdown-item"> <a href="mala-0202.html" class="mala-link">生态种植产业</a>  <i class="mala-arrow mala-arrow-up" style="right:20px;"></i>
                            </li>
                            <!--这里没有设置弹窗效果，如果需要，请参考mala-0205.html页面-->
                            <li class="mala-header-dropdown-item"> <a href="mala-0205.html" class="mala-link">生态养殖产业</a>
                            </li>
                            <li class="mala-header-dropdown-item"> <a href="mala-0202.html" class="mala-link">矿产资源产业</a>
                            </li>
                        </ul>
                    </li>
                    <li class="mala-nav-item mala-fl js-header-dropmenu">
                        <span class="mala-nav-link">企业文化<i class="mala-arrow mala-arrow-down  mala-ml"></i>
                        </span>
                        <ul class="mala-header-dropdown-list js-header-list">
                            <li class="mala-header-dropdown-item"> <a href="mala-0202.html" class="mala-link">管理之道</a>  <i class="mala-arrow mala-arrow-up" style="right:20px;"></i>
                            </li>
                            <!--这里没有设置弹窗效果，如果需要，请参考mala-0205.html页面-->
                            <li class="mala-header-dropdown-item"> <a href="mala-0205.html" class="mala-link">企业宗旨</a>
                            </li>
                            <li class="mala-header-dropdown-item"> <a href="mala-0202.html" class="mala-link">企业精神</a>
                            </li>
                            <li class="mala-header-dropdown-item"> <a href="mala-0202.html" class="mala-link">企业作风</a>
                            </li>
                        </ul>
                    </li>
                    <li class="mala-nav-item mala-fl js-header-dropmenu">
                        <span class="mala-nav-link">社会责任<i class="mala-arrow mala-arrow-down  mala-ml"></i>
                        </span>
                        <ul class="mala-header-dropdown-list js-header-list">
                            <li class="mala-header-dropdown-item"> <a href="mala-0202.html" class="mala-link">公益理念</a>  <i class="mala-arrow mala-arrow-up" style="right:20px;"></i>
                            </li>
                            <!--这里没有设置弹窗效果，如果需要，请参考mala-0205.html页面-->
                            <li class="mala-header-dropdown-item"> <a href="mala-0205.html" class="mala-link">慈善捐助</a>
                            </li>
                            <li class="mala-header-dropdown-item"> <a href="mala-0202.html" class="mala-link">社会赞誉</a>
                            </li>

                        </ul>
                    </li>
                    <li class="mala-nav-item mala-fl js-header-dropmenu">
                        <span class="mala-nav-link">人力资源<i class="mala-arrow mala-arrow-down  mala-ml"></i>
                        </span>
                        <ul class="mala-header-dropdown-list js-header-list">
                            <li class="mala-header-dropdown-item"> <a href="mala-0202.html" class="mala-link">人才理念</a>  <i class="mala-arrow mala-arrow-up" style="right:20px;"></i>
                            </li>
                            <!--这里没有设置弹窗效果，如果需要，请参考mala-0205.html页面-->
                            <li class="mala-header-dropdown-item"> <a href="mala-0205.html" class="mala-link">社会招聘</a>
                            </li>
                            <li class="mala-header-dropdown-item"> <a href="mala-0202.html" class="mala-link">校园招聘</a>
                            </li>

                        </ul>
                    </li>
                    <li class="mala-nav-item mala-fl js-header-dropmenu">
                        <span class="mala-nav-link">联络福梦<i class="mala-arrow mala-arrow-down  mala-ml"></i>
                        </span>
                        <ul class="mala-header-dropdown-list js-header-list">
                            <li class="mala-header-dropdown-item"> <a href="mala-0202.html" class="mala-link">福梦总部</a>  <i class="mala-arrow mala-arrow-up" style="right:20px;"></i>
                            </li>
                            <!--这里没有设置弹窗效果，如果需要，请参考mala-0205.html页面-->
                            <li class="mala-header-dropdown-item"> <a href="mala-0205.html" class="mala-link">福梦子公司</a>
                            </li>

                        </ul>
                    </li>

                </ul>
            </nav>
        </div>
    </header>
    <!--=====================图片轮播=============-->
    <!--=====================js_slider控制图片轮播,具体代码在文件尾部=============-->
    <div class="mala-slider" id="js-slider">
        <ul class="mala-slide-list">
            <!--=====================背景图片由mala-slider-item控制=============-->
            <li class="mala-slide-item mala-fl" style="background-image: url(/static/images/slide1.jpg);">

            </li>
            <li class="mala-slide-item mala-fl" style="background-image: url(/static/images/slide2.jpg);">

            </li>
        </ul>
    </div>
    <!--===========通知栏=============-->
    <div class="mala-notice">
        <div class="mala-container mala-clearfix">
            <div class="mala-fl"> <i class="fa fa-volume-up"></i>福梦农科</div>
            <div class="mala-fr"> <i class="fa fa-envelope-o"></i> kirin@qq.com <i class="fa fa-paw" style="margin-left:10px;"></i> 2016</div>
        </div>
    </div>
    <!--==============主体内容========-->
    <div class="mala-main">
        <div class="mala-container mala-clearfix">
            <figure class="mala-figure">
                <!--产品特点-->
                <div class="mala-service-list">
                    <div class="mala-row">
                        <div class="mala-col-md-4">
                            <div class="mala-service-item">
                                <span class="mala-service-img"><i class="fa fa-plane"></i>
                                </span>
                                <h4 class="mala-service-title">新闻中心</h4>
                                <span class="mala-service-desc"></span>
                            </div>
                        </div>
                        <div class="mala-col-md-4">
                            <div class="mala-service-item">
                                <span class="mala-service-img"><i class="fa fa-shield"></i>
                                </span>
                                <h4 class="mala-service-title">集团业务</h4>
                                <span class="mala-service-desc"></span>
                            </div>
                        </div>
                        <div class="mala-col-md-4">
                            <div class="mala-service-item">
                                <span class="mala-service-img"><i class="fa fa-tasks"></i>
                                </span>
                                <h4 class="mala-service-title">社会责任</h4>
                                <span class="mala-service-desc"></span>
                            </div>
                        </div>
                    </div>
                </div><br><br>
                <div class="mala-service-list">
                    <div class="mala-row">
                        <div class="mala-col-md-4" style="width: 25%;">
                            <div class="mala-service-item">
                                <span class="mala-service-img"><i class="fa fa-plane"></i>
                                </span>
                                <h4 class="mala-service-title">管理之道</h4>
                                <span class="mala-service-desc"></span>
                            </div>
                        </div>
                        <div class="mala-col-md-4" style="width: 25%;">
                            <div class="mala-service-item">
                                <span class="mala-service-img"><i class="fa fa-shield"></i>
                                </span>
                                <h4 class="mala-service-title">招贤纳士</h4>
                                <span class="mala-service-desc"></span>
                            </div>
                        </div>
                        <div class="mala-col-md-4" style="width: 25%;">
                            <div class="mala-service-item">
                                <span class="mala-service-img"><i class="fa fa-tasks"></i>
                                </span>
                                <h4 class="mala-service-title">视频中心</h4>
                                <span class="mala-service-desc"></span>
                            </div>
                        </div>
                        <div class="mala-col-md-4" style="width: 25%;">
                            <div class="mala-service-item">
                                <span class="mala-service-img"><i class="fa fa-tasks"></i>
                                </span>
                                <h4 class="mala-service-title">福梦农科各地子公司</h4>
                                <span class="mala-service-desc"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </figure>
        </div>
    </div>
    <!--==============页尾==============-->
    <footer class="mala-footer">
        <div class="mala-container mala-clearfix">
            <div class="mala-footer-links"></div>
            <div class="mala-row">
                <div class="mala-col-md-2">
                    <dl class="mala-footer-dl">
                        <dt class="mala-footer-dt">关于</dt>
                        <dd class="mala-footer-dd"> <a href="" class="mala-link">帮助</a> 
                        </dd>
                    </dl>
                </div>
                <div class="mala-col-md-2">
                    <dl class="mala-footer-dl">
                        <dt class="mala-footer-dt">友情链接</dt>
                        <dd class="mala-footer-dd"> <a href="" class="mala-link">联系</a> 
                        </dd>
                    </dl>
                </div>
                <div class="mala-col-md-2">
                    <dl class="mala-footer-dl">
                        <dt class="mala-footer-dt">反馈</dt>
                        <dd class="mala-footer-dd"> <a href="" class="mala-link">文档中心</a> 
                        </dd>
                        <dd class="mala-footer-dd"> <a href="" class="mala-link">麒麟工作室</a>
                        </dd>
                        <dd class="mala-footer-dd"> <a href="" class="mala-link">Kirin公众号：KirinStudio</a>
                        </dd>
                    </dl>
                </div>
                <div class="mala-col-md-2">
                    <dl class="mala-footer-dl">
                        <dt class="mala-footer-dt">Kirin Boys</dt>
                        <dd class="mala-footer-dd"> <a href="" class="mala-link">邮箱：ceo@kirin.com</a>
                        </dd>
                    </dl>
                </div>
                <div class="mala-col-md-4">
                    <div class="mala-footer-copyright mala-fr">©2015-2016 麒麟出品</div>
                </div>
            </div>
        </div>
    </footer>
    <script src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
    <!--======主要用于header的控制===-->
    <script src="{% static 'js/common.js' %}"></script>
    <script src="{% static 'js/jquery.glide.js' %}"></script>
    <!--控制轮播图片切换代码，引用的js为jquery.glide.js-->
    <script>
    $('#js-slider').glide();                    
    </script>
    <script>
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cdiv style='display:none;' %3E %3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fa04bc642fb15cb6b591f8fe5423f1bc2' type='text/javascript'%3E%3C/script%3E"));
    </script>
</body>

</html>
