<!doctype html>
<html>
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>Kirin</title>
    <link href="{% static 'css/freeue.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
<!--=============================导航栏================================-->
<header id="js-header" class="mala-header">
<div class="mala-clearfix mala-container">
    <!--=====================导航栏中间的4个按钮=============-->
    <nav class="mala-fr">
        <ul class="mala-nav-list mala-clearfix">
            <li class="mala-nav-item mala-fl"> <a href="/fumeng/" class="mala-nav-link">首页</a>
            </li>
            <li class="mala-nav-item mala-fl js-header-dropmenu">
                        <span class="mala-nav-link"><a href="/fumeng/about/" style="color: white">关于福梦</a><i class="mala-arrow mala-arrow-down  mala-ml"></i>
                        </span>
                <ul class="mala-header-dropdown-list js-header-list">
                    <li class="mala-header-dropdown-item"> <a href="/fumeng/about/overview/" class="mala-link">福梦概述</a>  <i class="mala-arrow mala-arrow-up" style="right:20px;"></i>
                    </li>
                    <!--这里没有设置弹窗效果，如果需要，请参考mala-0205.html页面-->
                    <li class="mala-header-dropdown-item"> <a href="/fumeng/about/strategy/" class="mala-link">福梦战略</a>
                    </li>
                    <li class="mala-header-dropdown-item"> <a href="/fumeng/about/advantage/" class="mala-link">核心优势</a>
                    </li>
                    <li class="mala-header-dropdown-item"> <a href="/fumeng/about/progress/" class="mala-link">发展历程</a>
                    </li>
                </ul>
            </li>
            <li class="mala-nav-item mala-fl js-header-dropmenu">
                      <span class="mala-nav-link"><a href="/fumeng/news/" style="color: white">新闻中心</a><i class="mala-arrow mala-arrow-down  mala-ml"></i>
                        </span>
				<ul class="mala-header-dropdown-list js-header-list">
                    <li class="mala-header-dropdown-item"> <a href="/fumeng/news/news/" class="mala-link">福梦新闻</a>  <i class="mala-arrow mala-arrow-up" style="right:20px;"></i>
                    </li>
                    <!--这里没有设置弹窗效果，如果需要，请参考mala-0205.html页面-->
                    <li class="mala-header-dropdown-item"> <a href="/fumeng/news/dynamic/" class="mala-link">地区动态</a>
                    </li>
                    <li class="mala-header-dropdown-item"> <a href="/fumeng/news/map/" class="mala-link">地区地图</a>
                    </li>
                    <li class="mala-header-dropdown-item"> <a href="/fumeng/news/attention/" class="mala-link">媒体关注</a>
                    </li>
                </ul>
            </li>
            <li class="mala-nav-item mala-fl js-header-dropmenu">
						<span class="mala-nav-link"><a href="/fumeng/business/" style="color: white">福梦业务</a><i class="mala-arrow mala-arrow-down  mala-ml"></i>
                        </span>
				<ul class="mala-header-dropdown-list js-header-list">
                    <li class="mala-header-dropdown-item"> <a href="/fumeng/business/overview/" class="mala-link">生态种植业</a>  <i class="mala-arrow mala-arrow-up" style="right:20px;"></i>
                    </li>
                    <!--这里没有设置弹窗效果，如果需要，请参考mala-0205.html页面-->
                    <li class="mala-header-dropdown-item"> <a href="/fumeng/business/cultivation/" class="mala-link">生态养殖产业</a>
                    </li>
                    <li class="mala-header-dropdown-item"> <a href="/fumeng/business/mineral/" class="mala-link">矿产资源产业</a>
                    </li>
                </ul>
            </li>
            <li class="mala-nav-item mala-fl js-header-dropmenu">
						<span class="mala-nav-link"><a href="/fumeng/culture/" style="color: white">企业文化</a><i class="mala-arrow mala-arrow-down  mala-ml"></i>
                        </span>
				<ul class="mala-header-dropdown-list js-header-list">
                    <li class="mala-header-dropdown-item"> <a href="/fumeng/culture/manage/" class="mala-link">管理之道</a>  <i class="mala-arrow mala-arrow-up" style="right:20px;"></i>
                    </li>
                    <!--这里没有设置弹窗效果，如果需要，请参考mala-0205.html页面-->
                    <li class="mala-header-dropdown-item"> <a href="/fumeng/culture/purpose/" class="mala-link">企业宗旨</a>
                    </li>
                    <li class="mala-header-dropdown-item"> <a href="/fumeng/culture/spirit/" class="mala-link">企业精神</a>
                    </li>
					<li class="mala-header-dropdown-item"> <a href="/fumeng/culture/style/" class="mala-link">企业作风</a>
                    </li>
                </ul>
            </li>
            <li class="mala-nav-item mala-fl js-header-dropmenu">
						<span class="mala-nav-link"><a href="/fumeng/mission/" style="color: white">社会责任</a><i class="mala-arrow mala-arrow-down  mala-ml"></i>
                        </span>
				<ul class="mala-header-dropdown-list js-header-list">
                    <li class="mala-header-dropdown-item"> <a href="/fumeng/mission/concept/" class="mala-link">公益理念</a>  <i class="mala-arrow mala-arrow-up" style="right:20px;"></i>
                    </li>
                    <!--这里没有设置弹窗效果，如果需要，请参考mala-0205.html页面-->
                    <li class="mala-header-dropdown-item"> <a href="/fumeng/mission/charity/" class="mala-link">慈善捐助</a>
                    </li>
                    <li class="mala-header-dropdown-item"> <a href="/fumeng/mission/parise/" class="mala-link">社会赞誉</a>
                    </li>
                </ul>
            </li>
            <li class="mala-nav-item mala-fl js-header-dropmenu">
						<span class="mala-nav-link"><a href="/fumeng/hr/" style="color: white">人力资源</a><i class="mala-arrow mala-arrow-down  mala-ml"></i>
                        </span>
				<ul class="mala-header-dropdown-list js-header-list">
                    <li class="mala-header-dropdown-item"> <a href="/fumeng/hr/concept/" class="mala-link">人才理念</a>  <i class="mala-arrow mala-arrow-up" style="right:20px;"></i>
                    </li>
                    <!--这里没有设置弹窗效果，如果需要，请参考mala-0205.html页面-->
                    <li class="mala-header-dropdown-item"> <a href="/fumeng/hr/so-recruit/" class="mala-link">社会招聘</a>
                    </li>
                    <li class="mala-header-dropdown-item"> <a href="/fumeng/hr/camp-recruit/" class="mala-link">校园招聘</a>
                    </li>
                </ul>
            </li>
            <li class="mala-nav-item mala-fl js-header-dropmenu">
						<span class="mala-nav-link"><a href="/fumeng/contact/" style="color: white">联络福梦</a><i class="mala-arrow mala-arrow-down  mala-ml"></i>
                        </span>
				<ul class="mala-header-dropdown-list js-header-list">
                    <li class="mala-header-dropdown-item"> <a href="/fumeng/contact/head-office/" class="mala-link">福梦总部</a>  <i class="mala-arrow mala-arrow-up" style="right:20px;"></i>
                    </li>
                    <!--这里没有设置弹窗效果，如果需要，请参考mala-0205.html页面-->
                    <li class="mala-header-dropdown-item"> <a href="/fumeng/contact/sub-company/" class="mala-link">福梦子公司</a>
                    </li>
                </ul>
            </li>

        </ul>
    </nav>
    </div>
    </header>
    <!--=========主内容区======-->
    <section class="mala-content" style="left: 0px;">
        <br>
        <div class="mala-container-fluid" style="padding-left: 0px;padding-right: 0px;">
            <div class="mala-row">
                <div class="mala-col-md-6" style="width: 90%;padding-left: 120px;">
                    <table style="width: 100%;border: 1px;border-collapse:collapse;border-spacing:0;border-left:1px solid #888;border-top:1px solid #888;background:#efefef;">
                        <tr>
                            <td>                    <div class="mala-panel">
                                <div class="mala-panel-heading mala-clearfix"> <a href="#" class="mala-fr mala-panel-more">更多内容&#9658</a>
                                    <h3 class="mala-panel-title">管理之道</h3>
                                </div>
                                <div class="mala-panel-body">
                                    <ul class="mala-list">
                                        <li class="mala-list-item">
                                            <span class="mala-list-time mala-fr">2015-05-06</span>
                                    <span class="mala-list-title"><a href="#">福梦农科领先世界福梦农科领先世界福梦农科领先世界</a>
                                    </span>
                                        </li>
                                        <li class="mala-list-item">
                                            <span class="mala-list-time mala-fr">2015-05-06</span>
                                    <span class="mala-list-title"><a href="#">福梦农科领先世界福梦农科领先世界福梦农科领先世界</a>
                                    </span>
                                        </li>
                                        <li class="mala-list-item">
                                            <span class="mala-list-time mala-fr">2015-05-06</span>
                                    <span class="mala-list-title"><a href="#">福梦农科领先世界福梦农科领先世界福梦农科领先世界</a>
                                    </span>
                                        </li>
                                        <li class="mala-list-item">
                                            <span class="mala-list-time mala-fr">2015-05-06</span>
                                        <span class="mala-list-title"><a href="#">福梦农科领先世界福梦农科领先世界福梦农科领先世界</a>
                                        </span>
                                        </li>
                                        <li class="mala-list-item">
                                            <span class="mala-list-time mala-fr">2015-05-06</span>
                                        <span class="mala-list-title"><a href="#">福梦农科领先世界福梦农科领先世界福梦农科领先世界</a>
                                        </span>
                                        </li>
                                        <li class="mala-list-item">
                                            <span class="mala-list-time mala-fr">2015-05-06</span>
                                        <span class="mala-list-title"><a href="#">福梦农科领先世界福梦农科领先世界福梦农科领先世界</a>
                                        </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            </td>
                            <td></td>
                            <td>                    <div class="mala-panel">
                                <div class="mala-panel-heading mala-clearfix"> <a href="#" class="mala-fr mala-panel-more">更多内容&#9658</a>
                                    <h3 class="mala-panel-title">企业宗旨</h3>
                                </div>
                                <div class="mala-panel-body">
                                    <ul class="mala-list">
                                        <li class="mala-list-item">
                                            <span class="mala-list-time mala-fr">2015-05-06</span>
                                    <span class="mala-list-title"><a href="#">福梦农科领先世界福梦农科领先世界福梦农科领先世界</a>
                                    </span>
                                        </li>
                                        <li class="mala-list-item">
                                            <span class="mala-list-time mala-fr">2015-05-06</span>
                                    <span class="mala-list-title"><a href="#">福梦农科领先世界福梦农科领先世界福梦农科领先世界</a>
                                    </span>
                                        </li>
                                        <li class="mala-list-item">
                                            <span class="mala-list-time mala-fr">2015-05-06</span>
                                    <span class="mala-list-title"><a href="#">福梦农科领先世界福梦农科领先世界福梦农科领先世界</a>
                                    </span>
                                        </li>
                                        <li class="mala-list-item">
                                            <span class="mala-list-time mala-fr">2015-05-06</span>
                                        <span class="mala-list-title"><a href="#">福梦农科领先世界福梦农科领先世界福梦农科领先世界</a>
                                        </span>
                                        </li>
                                        <li class="mala-list-item">
                                            <span class="mala-list-time mala-fr">2015-05-06</span>
                                        <span class="mala-list-title"><a href="#">福梦农科领先世界福梦农科领先世界福梦农科领先世界</a>
                                        </span>
                                        </li>
                                        <li class="mala-list-item">
                                            <span class="mala-list-time mala-fr">2015-05-06</span>
                                        <span class="mala-list-title"><a href="#">福梦农科领先世界福梦农科领先世界福梦农科领先世界</a>
                                        </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            </td>
                        </tr>
                        <tr>
                            <td>                    <div class="mala-panel">
                                <div class="mala-panel-heading mala-clearfix"> <a href="#" class="mala-fr mala-panel-more">更多内容&#9658</a>
                                    <h3 class="mala-panel-title">企业精神</h3>
                                </div>
                                <div class="mala-panel-body">
                                    <ul class="mala-list">
                                        <li class="mala-list-item">
                                            <span class="mala-list-time mala-fr">2015-05-06</span>
                                    <span class="mala-list-title"><a href="#">福梦农科领先世界福梦农科领先世界福梦农科领先世界</a>
                                    </span>
                                        </li>
                                        <li class="mala-list-item">
                                            <span class="mala-list-time mala-fr">2015-05-06</span>
                                    <span class="mala-list-title"><a href="#">福梦农科领先世界福梦农科领先世界福梦农科领先世界</a>
                                    </span>
                                        </li>
                                        <li class="mala-list-item">
                                            <span class="mala-list-time mala-fr">2015-05-06</span>
                                    <span class="mala-list-title"><a href="#">福梦农科领先世界福梦农科领先世界福梦农科领先世界</a>
                                    </span>
                                        </li>
                                        <li class="mala-list-item">
                                            <span class="mala-list-time mala-fr">2015-05-06</span>
                                        <span class="mala-list-title"><a href="#">福梦农科领先世界福梦农科领先世界福梦农科领先世界</a>
                                        </span>
                                        </li>
                                        <li class="mala-list-item">
                                            <span class="mala-list-time mala-fr">2015-05-06</span>
                                        <span class="mala-list-title"><a href="#">福梦农科领先世界福梦农科领先世界福梦农科领先世界</a>
                                        </span>
                                        </li>
                                        <li class="mala-list-item">
                                            <span class="mala-list-time mala-fr">2015-05-06</span>
                                        <span class="mala-list-title"><a href="#">福梦农科领先世界福梦农科领先世界福梦农科领先世界</a>
                                        </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            </td>
                            <td></td>
                            <td>                    <div class="mala-panel">
                                <div class="mala-panel-heading mala-clearfix"> <a href="#" class="mala-fr mala-panel-more">更多内容&#9658</a>
                                    <h3 class="mala-panel-title">企业作风</h3>
                                </div>
                                <div class="mala-panel-body">
                                    <ul class="mala-list">
                                        <li class="mala-list-item">
                                            <span class="mala-list-time mala-fr">2015-05-06</span>
                                    <span class="mala-list-title"><a href="#">福梦农科领先世界福梦农科领先世界福梦农科领先世界</a>
                                    </span>
                                        </li>
                                        <li class="mala-list-item">
                                            <span class="mala-list-time mala-fr">2015-05-06</span>
                                    <span class="mala-list-title"><a href="#">福梦农科领先世界福梦农科领先世界福梦农科领先世界</a>
                                    </span>
                                        </li>
                                        <li class="mala-list-item">
                                            <span class="mala-list-time mala-fr">2015-05-06</span>
                                    <span class="mala-list-title"><a href="#">福梦农科领先世界福梦农科领先世界福梦农科领先世界</a>
                                    </span>
                                        </li>
                                        <li class="mala-list-item">
                                            <span class="mala-list-time mala-fr">2015-05-06</span>
                                        <span class="mala-list-title"><a href="#">福梦农科领先世界福梦农科领先世界福梦农科领先世界</a>
                                        </span>
                                        </li>
                                        <li class="mala-list-item">
                                            <span class="mala-list-time mala-fr">2015-05-06</span>
                                        <span class="mala-list-title"><a href="#">福梦农科领先世界福梦农科领先世界福梦农科领先世界</a>
                                        </span>
                                        </li>
                                        <li class="mala-list-item">
                                            <span class="mala-list-time mala-fr">2015-05-06</span>
                                        <span class="mala-list-title"><a href="#">福梦农科领先世界福梦农科领先世界福梦农科领先世界</a>
                                        </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <!--=====================访问统计表格使用echarts,具体看js/echarts.js=============-->
            </div>
        </div>
    </section>
    <div class="mala-aside-opt">
        <a href="#" class="" id="mala-aside-hide">
            <i class="fa fa-arrow-left"></i>
        </a>
        <a href="#" class="" id="mala-aside-show" style="display:none">
            <i class="fa fa-arrow-right"></i>
        </a>
    </div>
<script src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
<!--======主要用于header的控制===-->
<script src="{% static 'js/common.js' %}"></script>
<script src="{% static 'js/jquery.glide.js' %}"></script>
<!--控制轮播图片切换代码，引用的js为jquery.glide.js-->
<script>
    $('#js-slider').glide();
</script>
    <script>
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cdiv style='display:none;' %3E %3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fa04bc642fb15cb6b591f8fe5423f1bc2' type='text/javascript'%3E%3C/script%3E"));
    </script>


</body>

</html>
