<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title>0201</title>
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="css/freeue.css" rel="stylesheet" type="text/css">
</head>

<body>
    <!--=============================导航栏================================-->
    <header id="js-header" class="mala-header mala-header-fix">
        <div class="mala-clearfix">
            <!--=============================右侧的个人中心================-->
            <a href="mala-0101.html" class="mala-logo mala-fl"></a>
            <div class="mala-user-info mala-fr js-header-dropmenu">
                <span class="mala-username">Hi, Baiduer!<i class="mala-arrow mala-arrow-down  mala-ml"></i>
                </span>
                <!--=====================js/header.js中控制下拉菜单========-->
                <ul class="mala-header-dropdown-list js-header-list">
                    <li class="mala-header-dropdown-item"><a href="mala-0202.html" class="mala-link">个人中心</a>  <i class="mala-arrow mala-arrow-up" style="right:10px;"></i>
                    </li>
                    <li class="mala-header-dropdown-item"><a href="mala-0202.html" class="mala-link">退出</a>
                    </li>
                </ul>
            </div>
            <!--=====================mala-avatar控制头像=============-->
            <span class="mala-avatar mala-fr">
                <img src="images/demo-photo.jpg">
            </span>
            <!--=====================导航栏中间的4个按钮=============-->
            <nav class="mala-fr">
                <ul class="mala-nav-list mala-clearfix">
                    <li class="mala-nav-item mala-fl"> <a href="mala-0201.html" class="mala-nav-link">首页</a> 
                    </li>
                    <li class="mala-nav-item mala-fl js-header-dropmenu">
                        <span class="mala-nav-link">测试数据<i class="mala-arrow mala-arrow-down  mala-ml"></i>
                        </span>
                        <ul class="mala-header-dropdown-list js-header-list">
                            <li class="mala-header-dropdown-item"> <a href="mala-0202.html" class="mala-link">线上数据</a>  <i class="mala-arrow mala-arrow-up" style="right:20px;"></i> 
                            </li>
                            <!--=====================这里没有控制弹窗，需要请查看mala-0202.html页面====================-->
                            <li class="mala-header-dropdown-item"> <a href="mala-0205.html" class="mala-link">数据弹窗</a> 
                            </li>
                            <li class="mala-header-dropdown-item"> <a href="mala-0202.html" class="mala-link">线上数据</a> 
                            </li>
                        </ul>
                    </li>
                    <li class="mala-nav-item mala-fl"> <a href="mala-0203.html" class="mala-nav-link">API接口</a> 
                    </li>
                    <li class="mala-nav-item mala-fl"> <a href="mala-0204.html" class="mala-nav-link">关于我们</a> 
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <!--=====================左侧栏,js代码在/js/navi.js=============-->
    <nav id="js-aside" class="mala-aside">
        <h3 class="mala-subnavi-title">全局设置</h3>
        <ul class="mala-subnavi-list">
            <li class="mala-subnavi-item">
                <a href="" class="mala-subnavi-link"> <i class="fa fa-taxi fa-fw"></i> </i>速度summary</a>
            </li>
            <li class="mala-subnavi-item">
                <div class="mala-subnavi-lead mala-clearfix"> <i class="fa fa-exchange fa-fw"></i> 线上预警
                    <span class="mala-arrow mala-arrow-down mala-fr"></span>
                </div>
                <ul class="mala-thirdnavi-list">
                    <li class="mala-thirdnavi-item"> <a href="" class="mala-thirdnavi-link">交互查询</a> 
                    </li>
                    <li class="mala-thirdnavi-item"> <a href="" class="mala-thirdnavi-link">metric信息</a> 
                    </li>
                </ul>
            </li>
            <li class="mala-subnavi-item">
                <div class="mala-subnavi-lead mala-clearfix"> <i class="fa fa-coffee fa-fw"></i> 速度报表
                    <span class="mala-arrow mala-arrow-down mala-fr"></span>
                </div>
                <ul class="mala-thirdnavi-list">
                    <li class="mala-thirdnavi-item"> <a href="" class="mala-thirdnavi-link">交互查询</a> 
                    </li>
                    <li class="mala-thirdnavi-item"> <a href="" class="mala-thirdnavi-link">metric信息</a> 
                    </li>
                </ul>
            </li>
            <li class="mala-subnavi-item">
                <div class="mala-subnavi-lead mala-clearfix"> <i class="fa fa-database fa-fw"></i> 交互查询
                    <span class="mala-arrow mala-arrow-down mala-fr"></span>
                </div>
                <ul class="mala-thirdnavi-list">
                    <li class="mala-thirdnavi-item"> <a href="" class="mala-thirdnavi-link">交互查询</a> 
                    </li>
                    <li class="mala-thirdnavi-item"> <a href="" class="mala-thirdnavi-link">metric信息</a> 
                    </li>
                </ul>
            </li>
        </ul>
        <h3 class="mala-subnavi-title">性能设置</h3>
        <ul class="mala-subnavi-list">
            <li class="mala-subnavi-item">
                <a href="" class="mala-subnavi-link"> <i class="fa fa-cube fa-fw"></i>UE MODULE</a>
            </li>
            <li class="mala-subnavi-item">
                <div class="mala-subnavi-lead mala-clearfix"> <i class="fa fa-exchange fa-fw"></i> 线上预警
                    <span class="mala-arrow mala-arrow-down mala-fr"></span>
                </div>
                <ul class="mala-thirdnavi-list">
                    <li class="mala-thirdnavi-item"> <a href="" class="mala-thirdnavi-link">交互查询</a> 
                    </li>
                    <li class="mala-thirdnavi-item"> <a href="" class="mala-thirdnavi-link">metric信息</a> 
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    <!--=========主内容区======-->
    <section class="mala-content">
        <h1 class="mala-title-bar">系统概况</h1>
        <div class="mala-overview-bar">
            <div class="mala-welcome">你好！欢迎登陆百度云平台。</div>
            <div class="mala-login-time">上次登录时间：
                <time>2014-06-07</time>
            </div>
            <div class="mala-statistic-list">
                <div class="mala-row">
                    <div class="mala-col-md-2">
                        <div class="mala-statistic-item">
                            <span class="mala-circle-title">268</span>
                            <br>
                            <span class="mala-circle-desc">发布信息</span>
                        </div>
                    </div>
                    <div class="mala-col-md-2">
                        <div class="mala-statistic-item">
                            <span class="mala-circle-title">268</span>
                            <br>
                            <span class="mala-circle-desc">发布信息</span>
                        </div>
                    </div>
                    <div class="mala-col-md-2">
                        <div class="mala-statistic-item">
                            <span class="mala-circle-title">268</span>
                            <br>
                            <span class="mala-circle-desc">发布信息</span>
                        </div>
                    </div>
                    <div class="mala-col-md-2">
                        <div class="mala-statistic-item">
                            <span class="mala-circle-title">268</span>
                            <br>
                            <span class="mala-circle-desc">发布信息</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mala-container-fluid">
            <div class="mala-row">
                <div class="mala-col-md-6">
                    <div class="mala-panel">
                        <div class="mala-panel-heading mala-clearfix"> <a href="#" class="mala-fr mala-panel-more">更多</a>
                            <h3 class="mala-panel-title">最新动态</h3>
                        </div>
                        <div class="mala-panel-body">
                            <ul class="mala-list">
                                <li class="mala-list-item">
                                    <span class="mala-list-time mala-fr">2014-05-04</span>
                                    <span class="mala-list-title"><a href="#">山西省委附近发生发生发生发生法发生法</a>
                                    </span>
                                </li>
                                <li class="mala-list-item">
                                    <span class="mala-list-time mala-fr">2014-05-04</span>
                                    <span class="mala-list-title"><a href="#">山西省委附近发生发生发生发生法发生法</a>
                                    </span>
                                </li>
                                <li class="mala-list-item">
                                    <span class="mala-list-time mala-fr">2014-05-04</span>
                                    <span class="mala-list-title"><a href="#">山西省委附近发生发生发生发生法发生法</a>
                                    </span>
                                </li>
                                <li class="mala-list-item">
                                    <span class="mala-list-time mala-fr">2014-05-04</span>
                                    <span class="mala-list-titles"><a href="#">山西省委附近发生发生发生发生法发生法</a>
                                    </span>
                                </li>
                                <li class="mala-list-item">
                                    <span class="mala-list-time mala-fr">2014-05-04</span>
                                    <span class="mala-list-title"><a href="#">山西省委附近发生发生发生发生法发生法</a>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--=====================访问统计表格使用echarts,具体看js/echarts.js=============-->
                <div class="mala-col-md-6">
                    <div class="mala-panel">
                        <div class="mala-panel-heading mala-clearfix">
                            <span class="mala-fr mala-panel-filter">
                                <!--=====================筛选项目,具体看js/fake-select.js=============-->
                                <div class="mala-fake-select mala-fr">
                                    <span class="mala-select-title js-fake-select">筛选项目</span> <i class="mala-arrow mala-arrow-down"></i>
                                    <ul class="mala-select-list js-list">
                                        <li class="mala-select-item js-select-item active">筛选项目</li>
                                        <li class="mala-select-item js-select-item">发生的发生</li>
                                        <li class="mala-select-item js-select-item">发生的发生</li>
                                    </ul>
                                    <ul class="mala-select-list-fix">
                                        <li class="mala-select-item">筛选项目</li>
                                        <li class="mala-select-item">发生的发生</li>
                                        <li class="mala-select-item">发生的发生</li>
                                    </ul>
                                </div>
                            </span>
                            <h3 class="mala-panel-title">访问量统计</h3>
                        </div>
                        <div class="mala-panel-body">
                            <div id="js-visit-graph" class="mala-echarts-normal "></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="mala-aside-opt">
        <a href="#" class="" id="mala-aside-hide">
            <i class="fa fa-arrow-left"></i>
        </a>
        <a href="#" class="" id="mala-aside-show" style="display:none">
            <i class="fa fa-arrow-right"></i>
        </a>
    </div>
    <script src="js/jquery-1.11.0.min.js"></script>
    <!-- 主要用户左侧栏的下拉效果和导航栏的下拉 -->
    <script src="js/common.js"></script>
    <script src="js/echarts-plain-map.js"></script>
    <!--=======访问量统计表===========-->
    <script src="js/echarts-sample.js"></script>
    <script>
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cdiv style='display:none;' %3E %3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fa04bc642fb15cb6b591f8fe5423f1bc2' type='text/javascript'%3E%3C/script%3E"));
    </script>


</body>

</html>
