<div class="st_top">
    <div class="wrap">
        <div class="logo">
            <a href="/home/"></a>
        </div>
        <ul id="nav">
            <li><a href="/about/">关于福梦</a></li><li><a href="/fumeng/news/fumengxinwen/">新闻中心</a></li><li><a href="/case/">福梦业务</a></li><li><a href="/server/">企业文化</a></li><li><a href="/team/">社会责任</a></li><li><a href="/contact/">人力资源</a></li><li><a href="/branch/">联系我们</a></li>
        </ul>
        <div id="search_btn" onclick="return click_a('divOne_1')">
            搜索</div>
        <div class="language">
            <p>
                <a class="her" href="">CN</a></p>
            <p>
                <a href="">En</a></p>
        </div>
        <div id="divOne_1" class="searchIpt">
            <input type="text" class="search_txt" onfocus="if(this.value=='搜索关键字'){this.value='';this.className='search_txt';}"
                onblur="if(this.value==''){this.value='搜索关键字';this.className='search_txt';}"
                placeholder="搜索关键字" value="" />
            <p>
                <input type="submit" class="search_btn" value="搜索" /></p>
        </div>
        <script type="text/javascript">
            $(".searchIpt p").click(function () {
                var search = $(".searchIpt input").val();
                if (search == null || search == "") {
                    alert("请输入要查询的关键字！");
                    $(".searchIpt input").focus();
                    return false;
                }

                if (search.trim() == null || search.trim() == "") {
                    alert("请输入要查询的关键字！");
                    $(".searchIpt input").focus();
                    return false;
                }

                var regx = /^\d*([\u4e00-\u9fa5]|[a-zA-Z])+\d*$/;
                if (!regx.test(search)) {
                    alert("请勿输入除中文，英文，数字之外的关键字！");
                    return;
                }


                location.href = "/search/key_" + search + "/";
            }) 
        </script>
    </div>
</div>
